.outer-nav-bar {
    color: white;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

.nav-bar {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    -webkit-box-pack: justify;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    z-index: 2;
}

@media (max-width: 1280px) {
    .internal-nav {
        grid-template-columns: 48px 1fr 1fr;
    }
}

.internal-nav{

    display: grid;
    grid-template-columns: 120px 1fr 120px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    top: 0px;
    padding: 1rem;
    z-index: 21;
    position: relative;
    background-image: linear-gradient(transparent 50%, rgb(25, 27, 31) 50%);
    background-position: 0px 0px;
    background-size: 100% 200%;
    box-shadow: transparent 0px 0px 0px 1px;
    transition: background-position 0.1s ease 0s, box-shadow 0.1s ease 0s;
    background-blend-mode: hard-light;

}

.logo {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    pointer-events: auto;
    justify-self: flex-start;
    margin-right: 12px;
}
